  .crypto__nav{
    display: flex;
    /* background-color: black; */
    color: white;
    padding: 0rem 2rem;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: .7rem;
    border-bottom: 1px solid;
    vertical-align: bottom;
  }
  .crypto__nav_links{
    display: flex; 
    cursor: pointer;
  }
  .crypto__nav_links > li {
    display: inline;
  /* text-align: center; */
  padding: .5rem .5rem;
  text-decoration: none;
  font-size: .5rem;
  }
  .avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .icon{
    /* color: black; */
    padding-top: .2rem;
  }
  .title{
    font-size: 1rem;
    padding-top: 1rem;
  }